<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Html.DevExpress().GetStyleSheets(
                    new StyleSheet { ExtensionType = ExtensionType.DocumentViewer }
)
    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.DocumentViewer }
)
</head>
<body>
    @RenderBody()
</body>
</html>
